# Azure OpenAI Configuration

OPENAI_API_KEY=CSWAsDNqLZT6URU4MGZsWQIHn9zjDnnJDqMXKUtvFzPGaaNtmVdCJQQJ99CDACYeBjFXJ3w3AAABACOGhVbr

BASE_URL=https://cg-openai-sandbox.openai.azure.com/openai/v1

MODEL=gpt-4o-mini

#FMP_API_KEY=your_fmp_key_here
